* { box-sizing: border-box; }

#game {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

#titulo {
  grid-column: 1 / 4;
  grid-row: 1;
  background-color: red;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 20px;
  font-weight: bold;
  width: 1600px;
  z-index: 9;
 }

#zonaclick {
  grid-column: 2 / 3;
  grid-row: 2;
  display: grid;
  grid-template-columns: repeat(2,1fr);

}

#botonprincipal {
  margin-top: 50px;
  width: 30em;
  height: 30em;
  cursor: pointer;
  padding-top: 13em;
  background-color: red;
  text-align: center;
  font-weight: bold;
  padding-bottom: 200px;
  color:white;
  font-weight: bold;
  position: relative;
  z-index: 1;
}

#mark {
  position: relative;
  grid-column: 3 / 4;
  grid-row: 1;
  background-color: orange;
  z-index: 10;
}

#number {
  position: absolute;
  margin: auto;
  font-size: 5em;
  text-align:center;
  padding: 0 0;
  width: 10px;
  height: 10px;
  z-index: 10;
}

#texto {
  grid-column: 2/3;
  grid-row:3;
  text-align: center;
  margin-top: 50px;
  background-color: grey;
  width: 440px;
  height:50px;
}

#texto-nt {
  font-size: 18px;
  font-weight: bold;
  color: white;
}

.a-button {
  margin-top: 50px;
  width: 30em;
  height: 30em;
  cursor: pointer;
  padding-top: 13em;
  background-color: red;
  text-align: center;
  font-weight: bold;
  padding-bottom: 200px;
  color:white;
  font-weight: bold;
}

#Tbutton {
  background-color: red;
  border: none;
  font-size: 20px;
  font-weight: bold;
  color: black;
}
